* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

.container {
    position: relative;
    min-width: 300px;
    min-height: 400px;
    background: #333;
    padding: 40px 30px 30px;
    border-radius: 20px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.4), 10px 10px 70px rgba(0, 0, 0, 0.25),
        inset -5px -5px 15px rgba(0, 0, 0, 0.5),
        inset 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.container .value {
    position: relative;
    grid-column: span 4;
    height: 100px;
    left: 10px;
    width: calc(100% - 30px);
    border: none;
    outline: none;
    background: #a7af7c;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px inset rgba(0, 0, 0, 0.75);
    text-align: right;
    padding: 10px;
    font-size: 2em;

}

.calculator {
    position: relative;
    display: grid;
}

.calculator span {
    color: #fff;
    position: relative;
    display: grid;
    height: 80px;
    width: 80px;
    margin: 4px;
    background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.25),
        inset 0px -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
        10px 20px 25px rgba(0, 0, 0, 0.4);
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    place-items: center;
}

.calculator span::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg, #2d2d2d, #4d4d4d);
    border-radius: 10px;
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1),
        10px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
}

.calculator span:active {
    filter: brightness(1.5);
}

.calculator span i {
    position: relative;
    font-style: normal;
    font-size: 1.5em;
    text-transform: uppercase;
}

.calculator .clear {
    grid-column: span 2;
    width: 180px;
    background: #f00;
}

.calculator .clear::before {
    background: linear-gradient(90deg, #d20000, #ffffff5c);
    border-left: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
    border-top: 1px solid #fff4;
}

.container .plus {
    grid-row: span 2;
    height: 180px;
}

.container .equal {
    background: #2196f3;
}

.container .equal::before {
    background: linear-gradient(90deg, #1479c9, #ffffff5c);
    border-left: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
    border-top: 1px solid #fff4;
}